.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.successMessage {
  display: none;
  position: fixed;
  color: white;
  background-color: #4CAF50;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}  

.quantityMessage {
  display: none;
  position: fixed;
  color: white;
  background-color: #af4c4c;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
} 

